  :root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Quicksand', sans-serif;
  }

  .container{
    display: grid;
    place-items: center;
    min-width: inherit ;
    min-height: inherit;
  }

  .cards-container {
    /*
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center; */
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .icon-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border: 5px solid rgb(46, 182, 236);
    border-radius: 20px;
    width: 200px;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
  }

  .icon-button:hover {
    transform: scale(1.1);
  }

  .description{
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

  .product-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .product-card img {
    width: inherit;
    height: inherit;
    border-radius: 20px;
    object-fit: cover;
  }

  @media (max-width:640px) {
    .cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, 140px);

    }

    .product-card {
      width: 140px;
    }

    .product-card img {
      width: inherit;
      height: inherit;
    }

  }